Repository beohoang98/internet-banking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update config CI
  .circleci/config.yml
Due: none

update vercel.json
  vercel.json
Due: none

move vercel.json
  packages/client/vercel.json
Due: frontend

add app.json
  app.json
Due: none

remove package-lock to git
  packages/server/.gitignore
  packages/server/package-lock.json
Due: backend

Complete all
  packages/client/src/components/Debt/AddDebt.vue
  packages/client/src/components/Debt/DebtHome.vue
  packages/client/src/components/History/History.vue
  packages/client/src/components/Password/ResetPassword.vue
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/router/index.ts
  packages/client/src/store/debt/index.ts
  packages/client/src/store/history/index.ts
  packages/client/src/store/index.ts
  packages/client/src/views/Debt.vue
  packages/client/src/views/History.vue
  packages/client/src/views/Receivers.vue
  packages/server/src/dto/debtRemind.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/models/DebtRemind.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/deptremind/debtremind.service.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/templates/deleteRemindDept.hbs
  packages/server/templates/remindDept.hbs
Due: backend, frontend

fix eslint
  packages/client/src/components/Debt/DebtHome.vue
Due: frontend

chore: fix test because missing updated field
  packages/server/src/dto/client.dto.ts
  packages/server/src/models/Base.ts
  packages/server/src/models/User.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/users/user.controller.ts
Due: backend

update vercel.json
  .idea/jsonSchemas.xml
  packages/client/vercel.json
Due: frontend

remove package-lock
  packages/server/.gitignore
  packages/server/package-lock.json
  packages/server/package.json
Due: backend

lint
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/Debt/AddDebt.vue
  packages/client/src/components/Debt/DebtHome.vue
  packages/client/src/components/History/History.vue
  packages/client/src/components/Password/ChangePassword.vue
  packages/client/src/components/Password/ResetPassword.vue
  packages/client/src/components/ReceiverList/ReceiverList.vue
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/views/ChangePassword.vue
  packages/client/src/views/Debt.vue
  packages/client/src/views/History.vue
  packages/client/src/views/Receivers.vue
  packages/client/src/views/ResetPassword.vue
Due: frontend

migration
  packages/server/src/migrations/1593831874651-update_user_dashboard.ts
Due: backend

update
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: none

update workflows
  .github/workflows/release.yml
Due: none

refactor!: move Procfile to folder server
  Procfile
  packages/server/Procfile
Due: backend

chore: upgrade deps
  packages/server/package.json
  packages/server/yarn.lock
Due: backend

chore: lint
  packages/client/src/admin.ts
  packages/client/src/admins/store/auth/index.ts
  packages/client/src/components/Debt/AddDebt.vue
  packages/client/src/components/Debt/DebtHome.vue
  packages/client/src/components/History/History.vue
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/container/AppLoad.vue
  packages/client/src/store/receiver/index.ts
  packages/client/src/views/Debt.vue
  packages/client/src/views/History.vue
Due: frontend

fix: deposit api
  packages/server/src/modules/admin/admin.service.ts
Due: backend

refactor: app layout and structure
  packages/client/src/admin.ts
  packages/client/src/components/Auth/Login.vue
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/Debt/AddDebt.vue
  packages/client/src/components/Debt/DebtHome.vue
  packages/client/src/components/History/History.vue
  packages/client/src/components/Password/ChangePassword.vue
  packages/client/src/components/Password/ResetPassword.vue
  packages/client/src/components/ReceiverList/ReceiverList.vue
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/container/AppLayout.vue
  packages/client/src/container/AppLoad.vue
  packages/client/src/main.ts
  packages/client/src/override.d.ts
  packages/client/src/plugins/element-ui.ts
  packages/client/src/plugins/font-awesome.ts
  packages/client/src/router/index.ts
  packages/client/src/utils/axios.ts
  packages/client/src/views/Auth.vue
  packages/client/src/views/Home.vue
  packages/client/src/views/Receivers.vue
  packages/client/vue.config.js
Due: frontend

fix: fix some null column and mail config
  packages/server/package.json
  packages/server/src/config/mail.config.ts
  packages/server/src/models/DebtRemind.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/yarn.lock
Due: backend

feat(partner): transaction log for partner and refactor send api
  packages/server/src/dto/client.dto.ts
  packages/server/src/middlewares/client-request.interceptor.ts
  packages/server/src/models/Client.ts
  packages/server/src/models/ClientTransactionLog.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.module.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/utils/typeorm-mock.ts
Due: backend

chore: lint and format
  packages/server/package.json
  packages/server/src/dto/client.dto.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/client/client.service.ts
Due: backend

feat(partner): add partner management page
  packages/client/package.json
  packages/client/src/admins/components/Partner/PartnerDetailModal.vue
  packages/client/src/admins/pages/PartnerManagement.vue
  packages/client/src/components/History/History.vue
  packages/client/src/override.d.ts
  packages/client/src/router/admin.ts
  packages/client/src/router/index.ts
  packages/client/src/types/partner.d.ts
  packages/client/src/types/transaction.d.ts
  packages/client/src/views/Home.vue
Due: frontend

update admin api
  .idea/internet-banking.iml
  .idea/modules.xml
  .idea/webResources.xml
  packages/server/src/modules/admin/admin.service.ts
Due: backend

fix: test and validation
  .circleci/config.yml
  packages/server/src/dto/client.dto.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.service.ts
Due: backend

migration
  packages/server/src/migrations/1594634609229-transaction_nullable.ts
Due: backend

fix: element-ui using global
  packages/client/public/app.html
  packages/client/src/plugins/element-ui.ts
  packages/client/src/views/Home.vue
Due: frontend

nedd fix css
  packages/server/src/models/Client.ts
Due: backend

validate balance before make transaction
  packages/client/src/components/Debt/AddDebt.vue
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/views/Receivers.vue
Due: frontend

chore: upgrade deps
  packages/client/package.json
  packages/client/yarn.lock
Due: frontend

chore: upgrade deps
  packages/client/yarn.lock
Due: frontend

fix: partnet docs and parnet check-account should return 404
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

fix api send pgp
  packages/server/src/config/mail.config.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/connect/connect-pgp.service.ts
  packages/server/src/modules/transaction/transaction.service.ts
Due: backend

fix: change pgp api spec
  packages/server/src/config/mail.config.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/connect/connect-abstract.service.ts
  packages/server/src/modules/connect/connect-pgp.service.e2e-spec.ts
  packages/server/src/modules/connect/connect-pgp.service.ts
  packages/server/src/modules/transaction/transaction.service.ts
Due: backend

chore: update tests
  packages/server/src/modules/connect/connect-pgp.service.e2e-spec.ts
Due: backend

chore: migration
  .idea/discord.xml
  packages/server/src/migrations/1595844559764-transaction_remove_fk.ts
Due: backend

chore: update code
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

Path conditions:
  backend: any of: packages/server
  frontend: any of: packages/client
