Repository beohoang98/internet-banking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

flags:
    backend:
        paths:
            - packages/server
    frontend:
        paths:
            - packages/client

coverage:
    status:
        project: true
        patch: false

complete create Account
  packages/server/src/dto/user.dto.ts
  packages/server/src/models/User.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

transfer v1
  packages/server/src/app.module.ts
  packages/server/src/dto/transferList.dto.ts
  packages/server/src/models/TransferList.ts
  packages/server/src/modules/transferlist/transferlist.controller.ts
  packages/server/src/modules/transferlist/transferlist.module.ts
  packages/server/src/modules/transferlist/transferlist.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

Update admin.controller.ts
  packages/server/src/modules/admin/admin.controller.ts
Due: backend

Otp + Transaction
  packages/server/src/app.module.ts
  packages/server/src/dto/receiverList.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/models/Otp.ts
  packages/server/src/models/ReceiverList.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/otp/otp.controller.ts
  packages/server/src/modules/otp/otp.module.ts
  packages/server/src/modules/otp/otp.service.ts
  packages/server/src/modules/receiverlist/receiverlist.controller.ts
  packages/server/src/modules/receiverlist/receiverlist.module.ts
  packages/server/src/modules/receiverlist/receiverlist.service.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.module.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/src/modules/transferlist/transferlist.module.ts
Due: backend

fix admin role, use guard
  packages/server/src/modules/admin/admin.controller.ts
Due: backend

Send mail otp
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/config/mail.config.ts
  packages/server/src/modules/otp/otp.controller.ts
  packages/server/src/modules/otp/otp.module.ts
  packages/server/src/modules/otp/otp.service.ts
  packages/server/templates/otp.hbs
Due: backend

Dept Remind Update
  packages/server/src/app.module.ts
  packages/server/src/dto/deptRemind.dto.ts
  packages/server/src/models/DeptRemind.ts
  packages/server/src/modules/deptremind/deptremind.controller.ts
  packages/server/src/modules/deptremind/deptremind.module.ts
  packages/server/src/modules/deptremind/deptremind.service.ts
  packages/server/src/modules/otp/otp.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/templates/deleteRemindDept.hbs
  packages/server/templates/remindDept.hbs
Due: backend

APi v1
  packages/server/ormconfig.js
  packages/server/src/app.module.ts
  packages/server/src/dto/debtRemind.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/models/DebtRemind.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/deptremind/debtremind.controller.ts
  packages/server/src/modules/deptremind/debtremind.module.ts
  packages/server/src/modules/deptremind/debtremind.service.ts
  packages/server/src/modules/deptremind/deptremind.module.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  yarn.lock
Due: backend

api final v1
  packages/server/src/dto/admin.dto.ts
  packages/server/src/dto/client.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/connect/connect-partner.module.ts
  packages/server/src/modules/deptremind/debtremind.controller.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.module.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.module.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/src/utils/typeorm-mock.ts
Due: backend

lint, fix tests, fix type
  packages/server/ormconfig.js
  packages/server/src/dto/admin.dto.ts
  packages/server/src/dto/client.dto.ts
  packages/server/src/dto/debtRemind.dto.ts
  packages/server/src/dto/receiverList.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/models/DebtRemind.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/models/index.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/auth/auth.controller.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/connect/connect-rsa.service.ts
  packages/server/src/modules/deptremind/debtremind.controller.ts
  packages/server/src/modules/deptremind/debtremind.service.ts
  packages/server/src/modules/otp/otp.controller.ts
  packages/server/src/modules/otp/otp.service.ts
  packages/server/src/modules/receiverlist/receiverlist.controller.ts
  packages/server/src/modules/receiverlist/receiverlist.service.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.module.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/src/utils/passwordEncoder.ts
  packages/server/src/utils/typeorm-mock.ts
Due: backend

test
  .circleci/config.yml
Due: none

upgrade & fix console script
  packages/server/package.json
  packages/server/src/dto/user.dto.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

feat(ui_user): stucture layout, add sidebar
  packages/client/.env.example
  packages/client/babel.config.js
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/components/Auth/Login.vue
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/container/AppLayout.vue
  packages/client/src/filters/index.ts
  packages/client/src/filters/number.ts
  packages/client/src/main.ts
  packages/client/src/plugins/element-ui.ts
  packages/client/src/router/index.ts
  packages/client/src/utils/axios.ts
  packages/client/src/views/Home.vue
  packages/client/src/views/NotFound.vue
  packages/client/src/views/Receivers.vue
  yarn.lock
Due: frontend

update backend
  package.json
  packages/server/src/modules/users/user.service.ts
Due: backend

fix lint
  packages/server/src/dto/deptRemind.dto.ts
  packages/server/src/dto/receiverList.dto.ts
  packages/server/src/dto/transaction.dto.ts
  packages/server/src/models/DeptRemind.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/auth/auth.controller.ts
  packages/server/src/modules/connect/connect-rsa.service.ts
  packages/server/src/modules/deptremind/deptremind.controller.ts
  packages/server/src/modules/deptremind/deptremind.service.ts
  packages/server/src/modules/otp/otp.controller.ts
  packages/server/src/modules/otp/otp.service.ts
  packages/server/src/modules/receiverlist/receiverlist.controller.ts
  packages/server/src/modules/receiverlist/receiverlist.service.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/transaction/transaction.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/utils/passwordEncoder.ts
Due: backend

Saving Account
  packages/server/src/app.module.ts
  packages/server/src/dto/savingAccount.dto.ts
  packages/server/src/models/SavingAccount.ts
  packages/server/src/modules/savingAccount/saveaccount.service.ts
  packages/server/src/modules/savingAccount/savingAccount.controller.ts
  packages/server/src/modules/savingAccount/savingAccount.module.ts
Due: backend

Learn Vuejs
  packages/client/package.json
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/ReceiverList/ReceiverList.vue
Due: frontend

migration
  packages/server/src/migrations/1593356121900-api_complete.ts
Due: backend

migration script
  packages/server/ormconfig.js
  packages/server/package.json
Due: backend

feat(partner): add api check info and test
  packages/server/src/models/User.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

fix conflict
  packages/server/src/dto/user.dto.ts
  packages/server/src/modules/transaction/transaction.controller.ts
  packages/server/src/modules/users/user.controller.ts
Due: backend

vuex v1
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/store/index.ts
  packages/client/src/store/receiver/index.ts
  packages/client/src/views/Receivers.vue
  packages/server/src/models/User.ts
  packages/server/src/modules/users/user.controller.ts
Due: backend, frontend

fix auth missing step
  packages/client/src/container/AppLoad.vue
Due: frontend

fix test
  packages/server/src/config/keys.config.ts
Due: backend

Fetch, add receiver
  packages/client/src/store/receiver/index.ts
  packages/client/src/views/Receivers.vue
  packages/server/package-lock.json
  packages/server/src/dto/receiverList.dto.ts
  packages/server/src/modules/receiverlist/receiverlist.service.ts
Due: backend, frontend

fix: test
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.service.ts
Due: backend

Complete Api General
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/Password/ChangePassword.vue
  packages/client/src/components/Password/ResetPassword.vue
  packages/client/src/components/ReceiverList/ReceiverList.vue
  packages/client/src/router/index.ts
  packages/client/src/store/receiver/index.ts
  packages/client/src/views/ChangePassword.vue
  packages/client/src/views/Receivers.vue
  packages/client/src/views/ResetPassword.vue
  packages/server/src/modules/receiverlist/receiverlist.service.ts
Due: backend, frontend

Get Info when create Receiver List
  packages/client/src/views/Receivers.vue
  packages/server/src/modules/transaction/transaction.controller.ts
Due: backend, frontend

remove workspace, add admin entry point
  .idea/jsLinters/eslint.xml
  lerna.json
  package.json
  packages/client/.eslintrc.js
  packages/client/.prettierrc
  packages/client/package.json
  packages/client/public/admin.html
  packages/client/src/admin.ts
  packages/client/src/admins/pages/Home.vue
  packages/client/src/admins/store/auth/index.ts
  packages/client/src/admins/store/auth/types.ts
  packages/client/src/admins/store/index.ts
  packages/client/src/components/Auth/AdminLogin.vue
  packages/client/src/container/AdminLoad.vue
  packages/client/src/router/admin.ts
  packages/client/vue.config.js
  packages/client/yarn.lock
  packages/server/yarn.lock
  yarn.lock
Due: backend, frontend

upgrade deps and update code
  .idea/jsLinters/eslint.xml
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/admin.ts
  packages/client/src/admins/pages/Home.vue
  packages/client/src/admins/store/auth/index.ts
  packages/client/src/components/AppLoading.vue
  packages/client/src/components/Auth/Login.vue
  packages/client/src/components/BankAccountList/PaymentAccount.vue
  packages/client/src/components/HelloWorld.vue
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/container/AdminLoad.vue
  packages/client/src/container/AppLayout.vue
  packages/client/src/plugins/v-role.ts
  packages/client/src/router/admin.ts
  packages/client/src/router/index.ts
  packages/client/src/views/Auth.vue
  packages/client/src/views/Home.vue
  packages/client/src/views/Receivers.vue
  packages/client/tsconfig.json
  packages/client/vue.config.ts
  packages/client/yarn.lock
Due: frontend

Complete Transfer
  packages/client/src/components/Transfer/Transfer.vue
  packages/client/src/views/Receivers.vue
Due: frontend

refactor(admin): refactor some admin api
  packages/client/public/app.html
  packages/client/vue.config.js
  packages/server/package.json
  packages/server/src/dto/admin.dto.ts
  packages/server/src/dto/paginate.dto.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/models/Base.ts
  packages/server/src/models/DepositLog.ts
  packages/server/src/models/Transaction.ts
  packages/server/src/models/User.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/tsconfig.build.json
  packages/server/yarn.lock
Due: backend, frontend

feat(admin): add customer feature, show list employee
  packages/client/package.json
  packages/client/src/admins/components/Sidebar.vue
  packages/client/src/admins/components/User/UserAddModal.vue
  packages/client/src/admins/components/User/UserDepositModal.vue
  packages/client/src/admins/pages/EmployeeManagement.vue
  packages/client/src/admins/pages/Home.vue
  packages/client/src/admins/pages/UserManagement.vue
  packages/client/src/admins/store/auth/index.ts
  packages/client/src/admins/store/index.ts
  packages/client/src/admins/store/users/index.ts
  packages/client/src/plugins/v-role.ts
  packages/client/src/router/admin.ts
  packages/client/src/router/index.ts
  packages/client/src/template/default.vue
  packages/client/src/types/admin.d.ts
  packages/client/src/types/paginate.d.ts
  packages/client/src/types/transaction.d.ts
  packages/client/src/types/user.d.ts
  packages/client/src/utils/axios.ts
  packages/client/tsconfig.json
  packages/client/vue.config.js
Due: frontend

refactor(admin): refactor some admin api
  packages/server/package.json
Due: backend

chore: idea
  .idea/compiler.xml
  .idea/inspectionProfiles/Project_Default.xml
Due: none

chore: add husky and lint-staged
  package.json
  packages/server/package.json
  yarn.lock
Due: backend

feat(user): add update profile and refactor some api
  packages/server/package.json
  packages/server/src/dto/admin.dto.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
Due: backend

feat(admin): update user, create-update-delete employee, see user balance
  packages/client/.eslintrc.js
  packages/client/src/admin.ts
  packages/client/src/admins/components/Employee/EmployeeAddModal.vue
  packages/client/src/admins/components/Employee/EmployeeUpdateModal.vue
  packages/client/src/admins/components/Sidebar.vue
  packages/client/src/admins/components/User/UserDepositModal.vue
  packages/client/src/admins/components/User/UserUpdateModal.vue
  packages/client/src/admins/pages/EmployeeManagement.vue
  packages/client/src/admins/pages/UserManagement.vue
  packages/client/src/admins/store/auth/index.ts
  packages/client/src/admins/store/users/index.ts
  packages/client/src/components/Auth/AdminLogin.vue
  packages/client/src/plugins/v-role.ts
  packages/client/src/router/admin.ts
  packages/client/src/types/user.d.ts
  packages/client/src/utils/axios.ts
Due: frontend

lint
  packages/client/package.json
  packages/client/src/plugins/v-role.ts
  packages/client/src/router/admin.ts
Due: frontend

update config CI
  .circleci/config.yml
Due: none
