Repository beohoang98/internet-banking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

flags:
    backend:
        paths:
            - packages/server
    frontend:
        paths:
            - packages/client

coverage:
    status:
        project: true
        patch: false

chore(deps): upgrade patch
  packages/client/yarn.lock
Due: frontend

show date
  packages/client/package.json
  packages/client/src/admins/components/Partner/PartnerDetailModal.vue
  packages/client/src/filters/date.ts
  packages/client/yarn.lock
Due: frontend

fix: change api result name
  packages/server/src/modules/admin/admin.service.ts
Due: backend

feat(partner_management): query trans by date
  packages/server/src/dto/admin.dto.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.service.ts
Due: backend

chore(deps): upgrade deps
  packages/client/yarn.lock
  packages/server/yarn.lock
Due: backend, frontend

feat(partner_management): add paginate transaction table for admin
  .idea/compiler.xml
  packages/client/src/admins/components/Partner/PartnerDetailModal.vue
  packages/client/src/components/PaginateTable/PaginateTable.vue
  packages/client/src/filters/date.ts
  packages/client/src/filters/index.ts
  packages/client/tsconfig.json
  packages/server/src/dto/paginate.dto.ts
Due: backend, frontend

chore(deps): upgrade things
  packages/client/package.json
  packages/client/yarn.lock
  packages/server/package.json
  packages/server/yarn.lock
Due: backend, frontend

fix: update balance when client send money request
  packages/server/src/modules/client/client.service.ts
Due: backend

fix: paginate query
  packages/server/src/modules/admin/admin.service.ts
Due: backend

fix: update balance when client send money request
  packages/server/src/config/keys.config.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/connect/connect-pgp.service.ts
  packages/server/src/modules/connect/connect-rsa.service.ts
Due: backend

fix: add missing lodash cause by mailer module
  packages/server/package.json
  packages/server/yarn.lock
Due: backend

feat: logout button
  packages/client/src/components/Sidebar/Sidebar.vue
  packages/client/src/store/auth/index.ts
Due: frontend
