Repository beohoang98/internet-banking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

flags:
    backend:
        paths:
            - packages/server
    frontend:
        paths:
            - packages/client

coverage:
    status:
        project: true
        patch: false

circleci codecov
  .circleci/config.yml
Due: none

remove codecov
  .circleci/config.yml
Due: none

circleci
  .circleci/config.yml
Due: none

fix build
  packages/server/src/modules/client/client.service.ts
Due: backend

add cli, add client(partner), add crypto, fix test
  .idea/compiler.xml
  packages/server/ormconfig.js
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/console.ts
  packages/server/src/dto/user.dto.ts
  packages/server/src/guards/jwt.guard.ts
  packages/server/src/guards/role.decorator.ts
  packages/server/src/guards/role.guard.ts
  packages/server/src/models/Client.ts
  packages/server/src/models/User.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/crypto/abstract-sign.service.ts
  packages/server/src/modules/crypto/crypto.module.ts
  packages/server/src/modules/crypto/pgp.service.ts
  packages/server/src/modules/crypto/rsa.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/src/types/express.d.ts
  packages/server/test/app.e2e-spec.ts
  yarn.lock
Due: backend

fix tests
  packages/server/package.json
  packages/server/src/utils/passwordEncoder.spec.ts
Due: backend

update & fix
  .prettierrc
  package.json
  packages/client/package.json
  packages/server/ormconfig.js
  packages/server/src/app.module.ts
  packages/server/src/config/swagger.config.ts
  packages/server/src/filters/all-http.filter.ts
  packages/server/src/guards/role.guard.ts
  packages/server/src/main.ts
  packages/server/src/middlewares/client-request.middleware.ts
  packages/server/src/models/Base.ts
  packages/server/src/models/Client.ts
  packages/server/src/models/ClientRequestLog.ts
  packages/server/src/modules/auth/auth.controller.ts
  packages/server/src/modules/auth/auth.module.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/crypto/crypto.module.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/passport/oauth2Client.strategy.ts
  packages/server/tsconfig.json
  yarn.lock
Due: backend, frontend

testing
  packages/server/src/keys/test-private.asc
  packages/server/src/keys/test-pub.asc
  packages/server/src/middlewares/client-request.middleware.ts
  packages/server/src/models/Client.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/crypto/abstract-sign.service.ts
  packages/server/src/modules/crypto/pgp.service.ts
  packages/server/src/utils/typeorm-mock.ts
  packages/server/tsconfig.json
Due: backend

circleci test
  .circleci/config.yml
Due: none

circleci test: back to old node ver
  .circleci/config.yml
Due: none

fix port server
  packages/server/src/main.ts
Due: backend

update time-hash check + e2e test
  packages/server/package.json
  packages/server/src/dto/client.dto.ts
  packages/server/src/keys/test-private-wrong.asc
  packages/server/src/middlewares/client-check.middleware.ts
  packages/server/src/middlewares/client-request.middleware.ts
  packages/server/src/modules/client/client.controller.e2e-spec.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  yarn.lock
Due: backend

BREAKING: change path "/client/*" to "/partner/*", fix test
  .circleci/config.yml
  docs/group29_openapi.yaml
  packages/server/.env.example
  packages/server/src/config/swagger.config.ts
  packages/server/src/dto/client.dto.ts
  packages/server/src/modules/auth/auth.controller.ts
  packages/server/src/modules/client/client.controller.e2e-spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/passport/oauth2Client.strategy.ts
Due: backend

fix console, add func encrypt but not used yet
  packages/server/package.json
  packages/server/src/console.ts
  packages/server/src/middlewares/client-request.interceptor.ts
  packages/server/src/modules/client/client.controller.e2e-spec.ts
  packages/server/src/modules/client/client.controller.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/modules/client/client.service.ts
  packages/server/src/modules/crypto/abstract-sign.service.ts
  packages/server/src/modules/crypto/pgp.service.ts
  packages/server/src/utils/typeorm-mock.ts
  yarn.lock
Due: backend

v0.0.3
  CHANGELOG.md
  lerna.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: backend, frontend

log request
  packages/server/src/middlewares/client-check.middleware.ts
Due: backend

add keys
  packages/server/src/config/keys.config.ts
  packages/server/src/keys/.gitignore
Due: backend

log headers
  packages/server/src/middlewares/client-check.middleware.ts
Due: backend

feat: connect pgp
  packages/server/.env.example
  packages/server/package.json
  packages/server/src/config/keys.config.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/connect/connect-abstract.service.ts
  packages/server/src/modules/connect/connect-partner.module.ts
  packages/server/src/modules/connect/connect-pgp.service.e2e-spec.ts
  packages/server/src/modules/connect/connect-pgp.service.ts
  yarn.lock
Due: backend

feat: connect pgp, add money
  packages/server/src/modules/connect/connect-abstract.service.ts
  packages/server/src/modules/connect/connect-pgp.service.e2e-spec.ts
  packages/server/src/modules/connect/connect-pgp.service.ts
  packages/server/src/modules/crypto/pgp.service.ts
Due: backend

test pattern
  packages/server/package.json
Due: backend

log request
  packages/server/src/middlewares/client-request.middleware.ts
Due: backend

fix: get client error
  package.json
  packages/server/src/middlewares/client-request.interceptor.ts
  packages/server/src/middlewares/client-request.middleware.ts
  packages/server/src/modules/client/client.controller.spec.ts
  packages/server/src/modules/client/client.module.ts
  packages/server/src/utils/typeorm-mock.ts
Due: backend

fix: nohoist swagger-ui-express
  package.json
Due: none

Feature/connect rsa 2 (#2)
  docs/db_v1.png
  docs/group29_openapi.yaml
  docs/partnerInstruction_29.txt
  package.json
  packages/server/.vscode/settings.json
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/src/modules/connect/connect-partner.module.ts
  packages/server/src/modules/connect/connect-rsa.service.e2e-spec.ts
  packages/server/src/modules/connect/connect-rsa.service.ts
  packages/server/src/modules/crypto/rsa.service.ts
  packages/server/test/jest-e2e.json
  workspace.code-workspace
Due: backend

initial frontend
  .idea/internet-banking.iml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  packages/client/.eslintignore
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/admin.ts
  packages/client/src/components/Auth/Login.vue
  packages/client/src/main.ts
  packages/client/src/plugins/font-awesome.ts
  packages/client/src/plugins/override.d.ts
  packages/client/src/plugins/vee-validate.ts
  packages/client/src/plugins/vuesax.ts
  packages/client/src/router/index.ts
  packages/client/src/styles/card.scss
  packages/client/src/styles/common.scss
  packages/client/src/styles/shadow.scss
  packages/client/src/views/Auth.vue
  packages/client/src/vuesax.d.ts
  packages/client/tsconfig.json
  packages/client/vue.config.js
  yarn.lock
Due: frontend

fix: remove default value for delete_at
  packages/server/ormconfig.js
  packages/server/src/models/Base.ts
  packages/server/src/modules/auth/auth.service.ts
Due: backend

Feature/api login (#3)
  .gitignore
  packages/client/package.json
  packages/client/tests/unit/example.spec.ts
  packages/server/.env.example
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/dto/admin.dto.ts
  packages/server/src/filters/all-http.filter.ts
  packages/server/src/guards/jwt.guard.ts
  packages/server/src/guards/role.decorator.ts
  packages/server/src/guards/role.guard.ts
  packages/server/src/init_admin.ts
  packages/server/src/models/Admin.ts
  packages/server/src/models/Base.ts
  packages/server/src/modules/admin/admin.controller.ts
  packages/server/src/modules/admin/admin.module.ts
  packages/server/src/modules/admin/admin.service.ts
  packages/server/src/modules/auth/auth.controller.ts
  packages/server/src/modules/auth/auth.module.ts
  packages/server/src/modules/auth/auth.service.ts
  packages/server/src/modules/users/user.controller.ts
  packages/server/src/modules/users/user.service.ts
  packages/server/src/passport/basic-admin.strategy.ts
  packages/server/src/passport/jwt.strategy.ts
Due: backend, frontend

code split
  .idea/codeStyles/Project.xml
  .idea/misc.xml
  packages/client/src/override.d.ts
  packages/client/src/registerServiceWorker.ts
  packages/client/src/router/index.ts
  packages/client/src/shims-png.d.ts
  packages/client/src/store/auth/index.ts
  packages/client/src/utils/axios.ts
  yarn.lock
Due: frontend
